import(boot, pastecs, lattice, graphics, grDevices, stats, methods, utils)

export(CDW, peakwindow, metaCDW)
exportPattern(".weibull.*")
exportPattern("fitweibull.*")

S3method("plot", "cardiMetacdw")
S3method("merge", "cardiMetacdw")
S3method("plot", "cardiFit")
S3method("plot", "cardiPeakwindow")
S3method("summary", "cardiFit")
